@use "./../variables/" as *;

.about-section {
  background: lighten($color: $bg-clr, $amount: 10%);
  padding: 1em;
  border-radius: 5px;
  color: $fg-heading-clr;
  max-width: 95%;
  margin: 1em auto;
  .section-title {
    margin-bottom: 0.5em;
    padding-bottom: 0.25em;
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 75%;
      background: $primary-clr;
    }
  }
  .section-text {
    opacity: 0.8;
    p {
      margin-top: 1em;
    }
  }
  video {
    width: 100%;
    margin-top: 1em;
    display: block;
  }
  @media (min-width: 1000px) {
    width: 70%;
    margin: 30px auto;
    video {
      width: 75%;
      margin: 1em auto;
    }
  }
}
