@use "./../variables/" as *;
@use "./../abstracts" as *;

.intro-text {
  width: 75%;
  text-align: center;
  margin: 2em auto;
  font-size: 0.8rem;
  opacity: 0.8;
}

.course-gallery {
  padding: 0 5%;
  margin-top: 30px;
  $course-bg: lighten($bg-clr, 10%);
  .course {
    margin-bottom: 15px;
    color: $fg-heading-clr;
    height: 100%;
    &-body {
      background: $course-bg;
      padding: 25px;
      height: calc(100% - 100px);
      .course-title {
        font-weight: 900;
        font-size: 1.3rem;
        margin-bottom: 0.5em;
      }
      .course-desc {
        font-size: 0.8rem;
        line-height: 1.6rem;
        ol {
          margin-left: -1em;
          li {
            // margin-bottom: 0.5em;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
    .course-footer {
      width: 100%;
      background: darken($color: $course-bg, $amount: 5%);
      padding: 10px 25px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .footer-details {
        padding: 0.5em 1em;
        font-size: 0.8rem;
        border-radius: 5px;
        background: $course-bg;
      }
    }
  }
  @include media-queries(sm) {
    .course {
      &-footer {
        padding: 0.5em 0.3em;
      }
    }
  }
  @include media-queries(lg) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    align-items: stretch;
  }
  @include media-queries(xl) {
    grid-template-columns: repeat(3, 1fr);
  }
}
