@use "./../abstracts/" as *;
@use "./../variables/" as *;

.image-gallery {
  padding: 5%;
  .gallery-inner {
    @include grid(1, 30px);
    align-items: center;
    @media (max-width: map-get($breakpoints, md)) {
      max-width: 500px;
    }
  }
  &__item {
    width: 100%;
    margin-bottom: 30px;
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    &__img {
      position: relative;
      height: 98%;
    }
  }
  @include media-queries(md) {
    .gallery-inner {
      @include grid(2, 30px);
    }
  }
}

.modal {
  justify-content: space-between;
  .slide-btn {
    cursor: pointer;
    transition: 250ms ease-in-out;
    &:hover {
      color: $primary-clr;
    }
  }
}
