.modal {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  padding: 0 20px;
  transition: 750ms ease-in-out;
  animation: reveal 750ms ease-in-out;
  color: white;
  &.hide {
    opacity: 0;
  }
  iframe {
    width: 1000px;
    height: 500px;
    border: none;
    @media (max-width: 999px) {
      width: 100%;
    }
  }
  @keyframes reveal {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
